/* Card and Grid Styles */
.card {
  padding-top: 500px;
  width: 40px;
  padding: 1rem;
  height: 13rem;
  border-radius: 5%;
  background-color: var(--card-bg-clr) !important;
}

.card h5, h3, i {
  color: var(--para-clr) !important;
}

.grid {
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 2rem;
  padding: 2rem;
  padding-top: 6rem;
}

.card-brand {
  font-style: italic;
  font-size: 0.8rem;
}

.hr-line {
  border: none;
  height: 1px;
  background-color: var(--hr_line_card);
  margin: 10px 0;
}

.home-cart-price {
  margin-top: auto;
}

.btn-hover {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}