/* Theme Variables */
.light-theme {
  --root_background: white;
  --body_background: white;
  --navbar_background: white;
  --navbar_text: black;
  --body_color: white;
  --link_color: rgb(0, 0, 0);
  --link_hover_color: rgb(35, 35, 35);
  --link_visited_color: purple;
  --para-clr: black;
  --cart_body_color: white;
  --quantity-clr: rgb(0, 0, 0);
  --button-clr: black;
  --card-bg-clr: white;
  --btn-bg: var(--navbar_background);
  --btn-clr: black;
  --category-hvr: rgb(200, 200, 200);
  --search_result-bg: rgb(239, 239, 239);
  --hr_line_card: black;
}

.dark-theme {
  --root_background: #1f1f1f;
  --body_background: #1f1f1f;
  --navbar_background: black;
  --navbar_text: white;
  --body_color: black;
  --link_color: rgb(255, 255, 255);
  --link_hover_color: rgb(137, 137, 137);
  --link_visited_color: purple;
  --para-clr: white;
  --cart_body_color: rgb(36, 35, 35);
  --quantity-clr: rgb(255, 255, 255);
  --button-clr: white;
  --card-bg-clr: #2c2b2b;
  --btn-bg: var(--navbar_background);
  --btn-clr: white;
  --category-hvr: rgb(115, 115, 115);
  --search_result-bg: rgb(49, 49, 49);
  --hr_line_card: rgb(255, 255, 255);
}