/* Typography and General Styles */
#root {
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--root_background) !important;
}

h1, h2, h3, h5, h6 {
  color: var(--para-clr);
}

p {
  color: var(--para-clr);
}

a {
  color: var(--link_color);
}

.dropdown-item {
  color: var(--para-clr) !important;
}

.dropdown-menu {
  background-color: var(--card-bg-clr) !important;
}

.dropdown-item:hover {
  color: var(--bs-dropdown-link-hover-color);
  background-color: var(--category-hvr) !important;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: 1rem;
  }
  
  .card {
    height: auto;
    min-height: 200px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 0.5rem;
  }
}